body {
  margin: -16px 0 0 0;
  font-family: "Helvetica", Arial;
 }

nav ul li {
  display:inline-block;
  margin-right:30px;
  margin-top: 40px;
  cursor:pointer;
 } 

#master {
 }

#img_line {
  display: inline-block;
  margin-right: -10px;
 }

#img_line img {
  width: 150px;
  height: 150px;
 }

#img_principal img { 
  width: 600px;
  height: 450px;
 }

#div2 {
  text-align: left;

 }


.gray {
  background-color: #555B5A;
  color: #fff;
 }

.gray, .white {
  height: 800px;
  margin: 0 auto;
  text-align:center;
 }

