$center:0 auto;
$gray:#474747;
$width-logo:455px;
$height-logo:201px;

body {
  margin: -16px 0 0 -1px;
  font-family: "Helvetica", Arial;
  background-color: $gray;
}

#content header{
  height:150px;
}

#logo{
  background: url(../img/logos.png) no-repeat;
  float:left;
  text-align:left;
  width:130px;
  height:130px;
  overflow: hidden;
  margin-bottom: 20px;
  }
#socials{
  margin: -50px 0 0 0;
  float: right;
  height: 45px;
  width: 90px;
  }
  #social{
    float: left;
    background: url(../img/fancy-links.png) no-repeat;
    width:45px;
    height:45px;
    overflow: hidden;
  }

  #rss{
    background: url(../img/fancy-links.png) no-repeat;
    float: left;
    width:40px;
    height:45px;
    overflow: hidden;
    background-position: -45px 0;
  }

#menu{ 
  background: url(../img/divider.png) no-repeat;
  background-position: bottom;
  text-align: left;
  margin: 0 0 0 40px;
  ul li{
    margin: 0 10px 0 30px;
  margin-top: 75px;}
}

#content {
  height: auto;
  margin: $center;
  background: url(../img/textture.png);
}

#top-content {
color: #fff;
}

.center-content{
  width:960px;
  margin:$center;
  padding: 30px;
}


#menu ul li, #header-social li, .avatars li  {
  display:inline-block;
  cursor:pointer;
}


#slider{
  margin: center;
  img{
    margin-bottom:30px;
  }
}

  .avatar {
  }

#main-content{
background-color:white;
}
#text-area {
width:960px;
margin:$center;
}
  #section-left{
  //position: absolute;
  text-align:left;
  //left: auto;
  width:470px;
  }


