body{
margin-top: -16px;
}

nav ul li
{
  display:inline-block;
  margin-right:30px;
  margin-top: 40px;
  cursor:pointer;
}

#master{
  width: 960px;
  margin: 0 auto;
  text-align:center;

}

/*#div2{*/

/*}*/

/*#div3{*/

/*}*/


.gray{
background-color: #555B5A;
color: #fff;
}

.gray, .white{
  width: 960px;
  height: 800px;
}

