$center:0 auto;
$gray:#707070;

body {
}

#content header{
height:150px;
}

#logo{
float:left;
width:180px;
height:180px;
overflow: hidden;
img{
//width:117px;
//height:117px;
}
}

#content {
width: 960px;
margin: $center;
background-color:$gray;

}

@mixin delete-points{
  display:inline;
  cursor:pointer;
}

#menu ul li, #header-social li, .avatars li  {
  @include delete-points;
}

#menu {
  margin-top: 10px;
  float:right;
  ul li{
  margin-right:30px;
  margin-top: 40px;}
}

