body{
margin-top: -16px;
}

nav ul li
{
  display:inline-block;
  margin-right:20px;
  cursor:pointer;
}

#master{
  width:960px;
  margin: 0 auto;
  text-align:center;

}

/*#div1{*/
/*}*/

/*#div2{*/

/*}*/

/*#div3{*/

/*}*/

.gray{
background-color: #555B5A;
color: #fff;
}

.gray, .white{

  height:800px;
}

