#header{
  margin: 30px auto;
  height:120px;
  width:1100px;
  z-index: 1;
}


.logo{
  background: url('../images/logo.png');
  display:inline-block;
  text-indent: -99999px;
  width:114px;
  height:114px;
  float:left;
}
.menu{
  width:888px;
  margin:50px 0 0 15px;
  background: url('../images/menu-divider.png') no-repeat 39px 35px;
  float:left;
    .menu a {
     text-decoration:none;
     font: bold 13px "Comic Sans MS", sans-serif;
     color:#fff;}
}
.menu li {
  margin-right:20px;
}
.social{
  background: url('../images/social-media.png') no-repeat;
  display:inline-block;
  text-indent: -99999px;
  float:right;
  height:84px;
  margin:70px -13px  0 -10px }

ul{
  li {
  display:inline;}
}

#avatar{
  text-align:center;
}
#figure{
  margin: 0 auto;
  width:1110px;
  background: url('../images/slide-placeholder.png') ;
}
#figure img{
  margin-left:70px;
}
body{
  header{
    color: red;
  }
}
#content1{
background: url('images/bg1.jpg');
}

@mixin box-shadow $par{
  -webkit-box-shadow: $par;
  -moz-box-shadow: $par;
  -ms-box-shadow: $par;
  -o-box-shadow: $par;
  box-shadow: $par;
}

.elemtent {
  @include box-shadow: 1px 1px 1px #ccc;
}

button {
  @include box-shadow: 1px 1px 1px #ccc;
}