body {background: url('../images/bg1.jpg'); font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;}

/*------------------------------------------------------- first section----------------------------------------*/
#header{
  margin: 30px auto;
  height:120px;
  width:1100px;
  z-index: 1;
}


.logo{
  background: url('../images/logo.png');
  display:inline-block;
  text-indent: -99999px;
  width:114px;
  height:114px;
  float:left;
}

.menu{
  width:888px;
  margin:50px 0 0 15px;
  background: url('../images/menu-divider.png') no-repeat 39px 35px;
  float:left;
}
.menu a {
  text-decoration:none;
  font: bold 13px "Comic Sans MS", sans-serif;
  color:#fff;
}
.menu li {
  margin-right:20px;
}
.social{
  background: url('../images/social-media.png') no-repeat;
  display:inline-block;
  text-indent: -99999px;
  float:right;
  height:84px;
  margin:70px -13px  0 -10px }

ul li{
  display:inline;
}

#avatar{
  text-align:center;
}
#figure{
  margin: 0 auto;
  width:1110px;
  background: url('../images/slide-placeholder.png') ;
}
#figure img{
  margin-left:70px;
}
#prev, #next{
  display:inline-block;
  width:30px;
  height:30px;
}
#prev{
  float:left;
  margin: 215px 0 0 95px;
	background: url('../images/slider-nav.png');
}
#next{
	float:right;
	margin-top:-230px;
	margin-right:95px;
	background: url('../images/slider-nav.png') -30px;
}

.imglist {
	overflow:hidden;
	display:inline-block;
	width: 200px;
	height: 200px;
        margin: 20px 25px 40px 0;
}
/*-------------------------------------------------------ends first section---------------------------------------------*/

/*------------------------------------------------------starts second section-------------------------------------------*/

#section2 {
  background-color: white;
  width: 100%;
  height: 2050px;
  margin: 0 auto;
}

#CONTEINER {
  width: 960px;
  height: 50px;
  border: 1px;
  margin: 20px auto;
}

.M-TITLE {
  font: bold 14px arial;
  margin: 20px auto;
}

.RAYA {
  background: url("../images/bg2.jpg") repeat-x;
  height: 20px;
}

#COLUMNS {
  clear: both;
  overflow: hidden;
}

#LEFT {
  width: 470px;
  float: left;
}

#RIGHT {
  width: 470px;
  float: right;
}

.lupa {
  float: right;
}

.imagen {
  float: left;
}

.articuno .xxx {
  display: inline;
}

.articuno {
  /*height: 200px;*/
  clear: both;
  overflow: hidden;
}

/*--------------------------------------ends second section-------------------------------------*/
/*--------------------------------------starts third section-------------------------------------*/
#section3 {
  background: url('images/bg1.jpg');
  width: 960px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}


.logo-footer{
  background: url('../images/logo-footer.png');
  text-indent: -99999px;
  width:62px;
  height:45px;
  clear: both;
}


.bloques{
  display: inline-block;
  margin: 0;
  padding: 0;  
}
.bloques section, .bloques article, .bloques ul li{
  display: inline-block;
  width: 180px;
  margin: 0;
  padding: 0;  
}
.bloques article{
  width: 370px;
}

footer{
  padding: 0px;
  margin: 0 0 100 20px;
}
/*--------------------------------------ends third section-------------------------------------*/
